* {
    margin: 0;
    padding: 0;
    background-color: rgb(135, 166, 192);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.social-handles a{
    text-decoration: none;
}
